# FastAPI and ASGI server
fastapi==0.115.12
uvicorn==0.34.0

# Database
psycopg2-binary==2.9.10
asyncpg==0.30.0

# Authentication and security
python-jose==3.4.0
passlib==1.7.4
# last version working with passlib last version
bcrypt==4.0.1
python-multipart==0.0.20

# Email
fastapi-mail==1.4.2

# WebSockets for chat
websockets==15.0.1

# Environment variables
python-dotenv==1.1.0

# Utilities
pydantic==2.11.1
pydantic-settings==2.8.1
email-validator==2.2.0
httpx==0.28.1

# Not necessary?
#greenlet==3.1.1

# Create fake users
Faker==37.1.0